apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-fastapi-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-fastapi-app
  template:
    metadata:
      labels:
        app: iris-fastapi-app
    spec:
      containers:
      - name: iris-fastapi-app
        image: us-central1-docker.pkg.dev/tough-study-473007-a5/artifacts-repo-mlops/iris-fastapi-app:latest
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /live_check
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"


