name: Deploy to GKE

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK and GKE Auth Plugin
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        component_management: true 
        
    - name: Authenticate Docker to Artifact Registry
      run: gcloud auth configure-docker us-central1-docker.pkg.dev
      
    - name: Verify gcloud auth
      run: gcloud auth list
      
    - name: Build and push Docker image
      run: |
        docker build \
        --build-arg MLFLOW_URI=${{ secrets.MLFLOW_TRACKING_URI }} \
        -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/artifacts-repo-mlops/iris-fastapi-app:latest .
        docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/artifacts-repo-mlops/iris-fastapi-app:latest
        
    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER_NAME }} --region ${{ secrets.GKE_REGION }}
        gcloud config set container/use_application_default_credentials true

    - name: Deploy to GKE
      run: kubectl apply -f k8s/

  stress-test:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK and GKE Auth Plugin
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          component_management: true

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Get GKE credentials
        run: gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER_NAME }} --region ${{ secrets.GKE_REGION }}
        
      - name: Install wrk
        run: sudo apt-get install wrk -y
        
      - name: Get service IP
        run: |
          for i in {1..10}; do
            EXTERNAL_IP=$(kubectl get svc iris-fastapi-service -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
            if [ -n "$EXTERNAL_IP" ]; then
              echo "SERVICE_URL=http://$EXTERNAL_IP/predict" >> $GITHUB_ENV
              break
            fi
            echo "Waiting for external IP..."
            sleep 30
          done
          
      - name: Run stress test
        run: wrk -t4 -c1000 -d30s $SERVICE_URL

